# Spark DataFrame Basics

In [1]:
# in order to work with spark df you need to start a spark session

from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'

In [2]:
import findspark

In [3]:
findspark.init('/home/ilyes/spark-3.4.1-bin-hadoop3')

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

23/08/06 18:20:23 WARN Utils: Your hostname, Blade-15-Base-Model resolves to a loopback address: 127.0.1.1; using 192.168.1.231 instead (on interface wlo1)
23/08/06 18:20:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/06 18:20:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/06 18:20:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [15]:
df = spark.read.json('people.json')

In [16]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [18]:
df.columns

['age', 'name']

In [19]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [20]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [21]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [23]:
final_struc = StructType(fields=data_schema)

In [24]:
df = spark.read.json('people.json',schema=final_struc)

In [25]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# Explication : 

## Schema :
    Une structure de données qui stocke pour chaque colonne sont type

## Problème :
    Des fois, lorsqu'on lit un dataframe, spark n'interprette pas les bons types pour les colonnes

## Solution :
    1 - On peut modifier data schema comme on veut luckily ! 
    2 - On relie le meme dataframe mais en specifiant grace au paramètre 'schema' notre nouvelle data schema
    3 - Bingo